* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
.shadow {
    -webkit-box-shadow: 9px 10px 21px -7px rgba(0,0,0,0.41);
    -moz-box-shadow: 9px 10px 21px -7px rgba(0,0,0,0.41);
    box-shadow: 9px 10px 21px -7px rgba(0,0,0,0.41);
}
.splash {
    position: relative;
    margin-bottom: 40px !important;
    text-align: center;
}
.footer{
    margin: 40px 0;
}
.footer,.footer a {
    color: #666;
}
img{
    width: 100%;
}
h1 {
    font-size: 4em;
}
/* grid */

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;    
}

.col-4 {
    width: calc(100% / 3);
}

.col-3 {
    width: 25%;
}

.col-9 {
    width: 75%;
}

.col-12 {
    width: 100%;
}

/*align*/

.bottom-right {
    position: absolute;
    bottom: 16px;
    right: 16px;
}
.right {
    text-align: right;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 3em;
    }
    .col-4 {
        width: 96%;
    }
}

@media only screen and (max-width: 460px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1em;
    }
    .bottom-right {
        bottom: 26px;
    }
}